/* style for home */

/* gif port styles */
#gifs-container {overflow:hidden;position:relative;width:800px;border-right:1px solid #dedede;min-height:400px;}
	#gif-navigator {float:left;position:relative;top:50px;}
		.gif-navigators {padding:5px 5px;border-radius:10px;border:1px solid #dedede;margin:5px;background:#fff;cursor:pointer}
		.gif-navigators img {width:15px;opacity:0.7;}
		.gif-navigator-disabled {cursor:default;opacity:0.6}
	#gif-viewport {overflow:hidden;position:relative;display:inline-block;width:760px}
		.gif-container {padding:5px 10px;float:left}
			.gif-title-container {margin:10px 0px;font-weight:bold;font-size:20px;color:#5a5a5a;visibility:hidden}
			.gif-content-container {}
				.gif-image-container {overflow:hidden;width:385px;height:400px;border:1px solid #dedede}
					.gif-image {background:#fff;border-left:5px solid #dedede;width:100%;visibility:hidden}
				.gif-info-container {font-size:15px;padding:5px 0px;overflow:auto;}
		.gif-comments-container {margin:10px;float:left;width:320px;height:400px;background:#eaeaea}
			.gif-comments-header {margin:10px;padding:7px 0px;font-size:12px;font-weight:bold;overflow:auto;border-bottom:1px solid #dedede}
				.gif-comments-sort {float:right;position:relative;top:-2px;font-size:10px}
			.gif-comments-content {padding:10px;}
				.gif-add-comment {}
					.user-gif-comment {width:295px;margin:auto;font-family: Arial, sans-serif; font-size:12px; overflow:hidden;min-height: 56px;}
					.hidden-comment {white-space: pre-wrap;width: 295px;min-height: 50px;font-family: Arial, sans-serif;font-size: 12px;word-wrap: break-word;display:none}
					.gif-comment-tips {overflow:auto}
						.gif-comment-tip {font-size:9px;color:#555;}	
				.gif-comments-list {font-size:12px;padding:10px 0px;overflow:hidden;height:230px;}
					.gif-comment{background:#d5d5d5;padding:5px;font-size:11px;margin:5px 0px;border-radius:3px;position:relative}
						.gif-comment-delete{position:absolute;top:0px;right:0px;width:13px;height:13px;text-align:center;border-radius:20px;color:#eaeaea;background:#999;font-size:9px;opacity:0.8}
						.gif-comment-delete:hover {opacity:1.0;cursor:pointer}
						.gif-commenter {font-weight:bold;font-size:12px;}


