/Gif$__clinit__closure1.class
/Gif.class
/GifController.class
/GifControllerTests.class
/GifTests.class
/Popularity$__clinit__closure1.class
/Popularity.class
/PopularityTests.class
/Tag$__clinit__closure1.class
/Tag.class
/TagTests.class
/User$__clinit__closure1.class
/User.class
/UserTests.class
